@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>
        Atendendo a um desafio proposto, este é um sistema para Controle de Tickets que foi feito com a utilização do C# ASP.Net MVC.<br />
        Contém integração com banco de dados SQL<br />
        Abaixo estão listadas as opções disponíveis
    </p>
</div>
<div>
    <p>Aqui vai ficar o botão para cadastrar uma nova Pessoa</p>
    <p>Aqui vai ficar o botão para cadastrar os Tickets</p>
    <p>Aqui vai ficar o botão de Relatórios</p>
</div>