@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>
        Este é um sistema para Controle de Tickets que foi feito com a utilização do C# ASP.Net MVC<br />
        Possui uma integração com o SGBD MS SQL Server, os scripts de criação das tabeles estão na pasta do projeto no caminho "MS SQL Scripts/SQL.sql"<br />
    </p>
</div>