@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>
        Este é um sistema para Controle de Tickets que foi feito com a utilização do C# ASP.Net Core MVC em sua versão 8.<br />
        Embora o projeto possua Migrations, devido ao ID ser flexível no momento do Cadastro (Tanto Pessoas quanto Tickets) foi preferido não utilizar as Migrations criando as tabelas diretamentes no Banco de acordo com a Model.<br />
        Possui uma integração com o SGBD MS SQL Server (Versão 16.0.1121.4), os scripts de criação das tabeles estão na pasta do projeto no caminho "./MS SQL Scripts/SQL.sql".<br />
    </p>
</div>
